.navbar {
  background-color: #f2da91;
  padding: 0.5rem;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo > img {
  display: inline-block;
  width: 7rem;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

.nav-right {
  /* border: 1px solid red; */
  width: 25rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.nav-login-right {
  /* border: 1px solid red; */
  width: 30rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.nav-right li a {
  color: #2d3436;
  font-weight: 600;
}

.nav-login-right li a {
  color: #2d3436;
  font-weight: 600;
}
